html {
 font-family:helvetica;
}
* {
	box-sizing: border-box;
}

.header {
    background:#27292D;
    height:45px;
    padding: 0;
    width:100% ;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    opacity: .99;
}

.left-head {
    float: left;
    height: 45px;
    width: 33.333%;
}
.menu {
    float: left;
    margin-top: 15px;
    margin-left: 8px;
}

.logo {
   float: left;
   text-align: center;
   margin-top: 9px;
   width: 33.333%;
   height: 45px;
}

.right-head {
    float: left;
    height: 45px;
    width: 33.333%;
}

.block-1 {
	background-color: #F8F8FF;
	min-height: 600px;
    width: 100%;
    text-align: left;

}

.innerblock-1 {
	color: #808080;
	text-align: left;
	max-width: 730px;
	margin: auto;
	padding: 10px;

}

.in {
	background-color:#FFFFFF;
	text-align: center;
	max-width: 500px;
	border-radius: 25px;
	min-height: 100px;
	margin: auto;
	padding: 10px;
	box-shadow: 0 0px 1px rgba(0,0,0,0.25), 0 0px 0px rgba(0,0,0,0.22);
}

.inn {
	text-align: left;
	width:80% ;
	margin: auto;
	color: black;
    padding: 5px;
}

ul {
	text-align: left;
}

.block-2 {
	background-color: #F0FFFF;
	min-height: 600px;
    width: 100%;
    text-align: left;

}

.innerblock-2 {
	color: #808080;
	text-align: left;
	max-width: 730px;
	margin: auto;
	padding: 10px;
}

.block-3 {
	background-color:#F0F8FF;
	min-height: 600px;
    width: 100%;
    text-align: left;

}

.innerblock-3 {
	color: #808080;
	text-align: left;
	max-width: 730px;
	margin: auto;
	padding: 10px;
}


.img {
	width: 100%;
}

.footer {
    margin-top: 8px;
    background-color:   #f0faf9;
    min-height: 80px;
    width: 100%;
    text-align: center;
    padding: 10px;
}